{% extends 'todo/base.html' %} 


{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<br>
<h2>TODO List</h2>
<div class="d-inline-flex">
<ul>
{% for todo in todos %}
<div class=" p-2 mb-2 ml-2 bg-white rounded" style="width: 14rem; height:20 rem;">
<a href = "{% url 'update'  todo.id %}">
<li><h5>{{todo}}</h5></li>
</a>
</div>
{% endfor %}
</ul>
</div>



{% endblock content %}